<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_info</key>
	<dict>
		<key>launch_image</key>
		<dict>
			<key>motify_date</key>
			<string>0</string>
			<key>url</key>
			<string>http://192.168.2.27/phpwind_GBK_8.5/</string>
		</dict>
		<key>theme_skin</key>
		<dict>
			<key>default_skin_index</key>
			<string>0</string>
			<key>skin_category</key>
			<array>
				<dict>
					<key>color</key>
					<dict>
						<key>blue</key>
						<string>0</string>
						<key>green</key>
						<string>0</string>
						<key>red</key>
						<string>255</string>
					</dict>
					<key>name</key>
					<string>oranger</string>
				</dict>
				<dict>
					<key>color</key>
					<dict>
						<key>blue</key>
						<string>0</string>
						<key>green</key>
						<string>255</string>
						<key>red</key>
						<string>0</string>
					</dict>
					<key>name</key>
					<string>green</string>
				</dict>
				<dict>
					<key>color</key>
					<dict>
						<key>blue</key>
						<string>0</string>
						<key>green</key>
						<string>0</string>
						<key>red</key>
						<string>255</string>
					</dict>
					<key>name</key>
					<string>blue</string>
				</dict>
			</array>
		</dict>
		<key>version_check_url</key>
		<string>http://go.glavesoft.com/t/android_update.txt</string>
	</dict>
	<key>config_version</key>
	<string>1.0.0.0</string>
	<key>forum</key>
	<dict>
		<key>forum_info</key>
		<dict>
			<key>api_url</key>
			<string>http://bbs.cnhan.com/phoneapi/</string>
			<key>company_id</key>
			<string>50</string>
			<key>forum_type</key>
			<string>pw</string>
			<key>function_support</key>
			<dict>
				<key>baidu_input</key>
				<string>YES</string>
				<key>push</key>
				<string>YES</string>
				<key>statistics</key>
				<string>YES</string>
				<key>weibo_share</key>
				<dict>
					<key>sina</key>
					<dict>
						<key>key</key>
						<string>1935263526</string>
						<key>secret</key>
						<string>29fa59dc6981e911b1a8040e7efa9897</string>
					</dict>
					<key>tencent</key>
					<dict>
						<key>key</key>
						<string>801094226</string>
						<key>secret</key>
						<string>d6148c777d8b9c7e3f9213173ef2fd33</string>
					</dict>
				</dict>
			</dict>
			<key>host_url</key>
			<string>http://bbs.cnhan.com/</string>
			<key>min_post_word_count</key>
			<string>6</string>
		</dict>
		<key>main_layout</key>
		<array>
			<dict>
				<key>navi_name</key>
				<string>首页</string>
				<key>subcategory</key>
				<array>
					<dict>
						<key>bid</key>
						<string>%bb%c3%b5%c6%c6%ac%40%c2%db%cc%b3%ca%d7%d2%b3</string>
						<key>id</key>
						<string>%bb%c3%b5%c6%c6%ac%40%c2%db%cc%b3%ca%d7%d2%b3</string>
						<key>name</key>
						<string>头条</string>
						<key>type</key>
						<string>subcate_headline_image</string>
					</dict>
					<dict>
						<key>id</key>
						<string>33</string>
						<key>name</key>
						<string>活动</string>
						<key>type</key>
						<string>subcate_common</string>
					</dict>
					<dict>
						<key>id</key>
						<string>33</string>
						<key>name</key>
						<string>团购</string>
						<key>type</key>
						<string>subcate_group_purchase</string>
					</dict>
					<dict>
						<key>id</key>
						<string>20</string>
						<key>name</key>
						<string>优惠券</string>
						<key>type</key>
						<string>subcate_common</string>
					</dict>
				</array>
				<key>tab_name</key>
				<string>首页\nHome</string>
				<key>tab_type</key>
				<string>tab_subcate_below_navi</string>
			</dict>
			<dict>
				<key>navi_name</key>
				<string>民生</string>
				<key>subcategory</key>
				<array>
					<dict>
						<key>id</key>
						<string>34</string>
						<key>name</key>
						<string>民生</string>
						<key>type</key>
						<string>subcate_common</string>
					</dict>
				</array>
				<key>tab_name</key>
				<string>民生\nLife</string>
				<key>tab_type</key>
				<string>tab_subcate_below_navi</string>
			</dict>
			<dict>
				<key>navi_name</key>
				<string>论坛</string>
				<key>subcategory</key>
				<array>
					<dict>
						<key>name</key>
						<string>热帖</string>
						<key>type</key>
						<string>subcate_hot_thread</string>
					</dict>
					<dict>
						<key>name</key>
						<string>热版</string>
						<key>type</key>
						<string>subcate_hot_forum</string>
					</dict>
					<dict>
						<key>name</key>
						<string>版块</string>
						<key>type</key>
						<string>subcate_forum_list</string>
					</dict>
					<dict>
						<key>name</key>
						<string>搜索</string>
						<key>type</key>
						<string>subcate_forum_search</string>
					</dict>
				</array>
				<key>tab_name</key>
				<string>论坛\nBBS</string>
				<key>tab_type</key>
				<string>tab_subcate_below_navi</string>
			</dict>
			<dict>
				<key>navi_name</key>
				<string>我的</string>
				<key>subcategory</key>
				<array>
					<dict>
						<key>name</key>
						<string>版块收藏</string>
						<key>type</key>
						<string>subcate_my_favorited_forums</string>
					</dict>
					<dict>
						<key>name</key>
						<string>帖子收藏</string>
						<key>type</key>
						<string>subcate_my_favorited_topics</string>
					</dict>
					<dict>
						<key>name</key>
						<string>最近浏览</string>
						<key>type</key>
						<string>subcate_recent_viewed_topics</string>
					</dict>
				</array>
				<key>tab_name</key>
				<string>我的\nMy</string>
				<key>tab_type</key>
				<string>tab_subcate_below_navi</string>
			</dict>
			<dict>
				<key>more_list</key>
				<array>
					<dict>
						<key>name</key>
						<string>帐号管理</string>
						<key>type</key>
						<string>accout_manage</string>
					</dict>
					<dict>
						<key>name</key>
						<string>系统设置</string>
						<key>setting</key>
						<array>
							<array>
								<dict>
									<key>name</key>
									<string>帖子默认只看楼主</string>
									<key>type</key>
									<string>topic_default_author</string>
									<key>value</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>name</key>
									<string>3G/2G网络为无图模式</string>
									<key>type</key>
									<string>2g_3g_not_show_image</string>
									<key>value</key>
									<string>YES</string>
								</dict>
								<dict>
									<key>name</key>
									<string>清除缓存</string>
									<key>type</key>
									<string>clear_cache</string>
								</dict>
								<dict>
									<key>name</key>
									<string>换肤</string>
									<key>type</key>
									<string>theme_skin</string>
								</dict>
								<dict>
									<key>name</key>
									<string>恢复默认值</string>
									<key>type</key>
									<string>reset_setting</string>
								</dict>
							</array>
						</array>
						<key>type</key>
						<string>setting</string>
					</dict>
					<dict>
						<key>name</key>
						<string>二维码扫描</string>
						<key>type</key>
						<string>search</string>
					</dict>
					<dict>
						<key>name</key>
						<string>意见反馈</string>
						<key>type</key>
						<string>feedback</string>
					</dict>
					<dict>
						<key>name</key>
						<string>关于我们</string>
						<key>type</key>
						<string>aboutus</string>
					</dict>
					<dict>
						<key>name</key>
						<string>签到</string>
						<key>type</key>
						<string>qiandao</string>
					</dict>
					<dict>
						<key>name</key>
						<string>检查版本</string>
						<key>type</key>
						<string>banben</string>
					</dict>
					<dict>
						<key>name</key>
						<string>个人资料</string>
						<key>type</key>
						<string>userself</string>
					</dict>
				</array>
				<key>name</key>
				<string>更多</string>
				<key>tab_name</key>
				<string>更多\nMore</string>
				<key>tab_type</key>
				<string>tab_more</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
