<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>太湖湾</string>
		<key>subtitle</key>
		<string>武进太湖湾旅游度假区(国家旅游名片)位于武进南部雪堰镇境内（由原雪堰镇、潘家镇、漕桥镇、南宅乡、太滆合并而成），地理位置得天独厚，东临国家旅游度假区无锡马山、西接陶都宜兴分水，规划范围39.6平方公里，以低山丘陵为主，山脉主要来自浙江天目山，山丘占土地面积的66%。大气环境达国家一级标准，植物生长茂盛，植被良好，共有乔木、灌木、草本植物百余种，鸟类70多种。太湖湾沿湖岸线长约7公里，共有山头19座，山坞11个，大小水库8个，临湖有7个山湾，由东向西依次为小城湾、潭底湾、百渎东湾、百渎西湾、凤凰（绿豆）山湾、庙堂山山湾、百渎永丰（十八步山）湾，湖中还有大焦山和小焦山两座。</string>
		<key>image</key>
		<string>recommond_thw.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中华孝道园</string>
		<key>subtitle</key>
		<string>中华孝道园坐落于国家级旅游风景度假区——常州市武进太湖湾旅游度假区内，园区以中国唯一的千年孝子寺——蓼莪禅寺为依托，以弘扬中华孝道精神为主旨的园区，同时也是全国唯一一座将观音的三世同时展现的园区。园区总占地面积860余亩，面朝太湖，背倚蓼莪山脉，山水相依，风景秀美，拥有丰富的历史、文化、旅游资源。
中华孝道园以中国传统文化的核心之一的“孝”为主题，以观音文化和祭祖文化为特色，以儒释道三家传统文化为基础，是融寻根祭祖、朝山礼佛、觉悟教育和旅游观光为一体的综合性文化旅游景区。园区结合自然山水景观，打造了：江南第一石窟、江南第一百家姓祠堂、正法明大殿、先祖庙堂、蓼莪禅寺等景点。</string>
		<key>image</key>
		<string>recommond_xdy.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>嬉戏谷</string>
		<key>subtitle</key>
		<string>一座梦幻的城池，开启属于你的英雄时代，这是全球动漫游戏迷的天堂。&quot;虚拟&quot;与&quot;现实&quot;的完美对接，颠覆传统娱乐方式，为您打造一个前所未有的数字梦幻互动娱乐空间。
投资总额20亿元的环球动漫嬉戏谷，首次将互联网技术全面运用于主题乐园，首次将&quot;虚实互动&quot;模式融入游乐项目，首次将线上线下两个互动娱乐平台进行有机整合，200多项动漫游乐项目中，1/3属于全球首创。开园仪式还创造了1562人的&quot;cosplay&quot;（角色扮演）人数集结最多的世界吉尼斯纪录。
园内规划&quot;英雄门&quot;、&quot;淘宝大街&quot;、&quot;神秘岛&quot;、&quot;摩尔庄园&quot;、&quot;传奇天下&quot;、&quot;星际传说&quot;、&quot;迷兽大陆&quot;、&quot;嬉戏族欢乐港&quot;和&quot;圣殿山&quot;等九大动漫游戏主题文化体验区，让你过足英雄瘾。</string>
		<key>image</key>
		<string>recommond_xxg.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春秋淹城</string>
		<key>subtitle</key>
		<string>常州春秋淹城旅游区是以淹城遗址为核心，中国传统文化为特色，城市娱乐休闲为基础的国家高等级旅游景区，2010年8月被评为国家AAAA级旅游景区，2011年年接待游客268万人次。景区规划总面积7.6平方公里，累计投入约30亿元，包括遗址保护区、春秋乐园区、野生动物区、旅游购物区、文化居住区、休闲度假区、商业游憩区和佛教文化区八大重点区域，是集旅游、观光、科普、休闲、购物、餐饮于一体的综合性文化旅游目的地。随着知名度的不断提升和景区服务配套的不断完善，常州春秋淹城旅游区已逐步成为长三角地区一颗璀璨耀眼的旅游新星。 </string>
		<key>image</key>
		<string>recommond_yc.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中华恐龙园</string>
		<key>subtitle</key>
		<string>这里是恐龙的欢乐家园，这里是时尚刺激的主题乐园。库克苏克、鲁布拉、嘻哈恐龙城······六大主题区精彩纷呈：通天塔、金刚、灵翼穿梭、迷幻魔窟、童子军训练营、疯狂火龙钻、雷龙过山车、探秘飓石阵、尖峰速递、穿越侏罗纪、热舞恐龙车、宝贝团团转······主题乐园项目引爆极限风暴；中华恐龙馆蕴藏丰富恐龙知识；多场精彩主题演出营造精彩梦幻之旅！这里就是享有&quot;东方侏罗纪&quot;美誉的常州中华恐龙园！</string>
		<key>image</key>
		<string>recommond_kly.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>天目湖南山竹海</string>
		<key>subtitle</key>
		<string>天目湖南山竹海景区地处苏浙皖三省交界之处。景区以竹文化和寿文化为主题，坐拥3.5万亩翠竹，青山秀美、竹海壮阔、静湖清澈，独显青山绿水之诗意和神韵。 天目湖南山竹海素有“天堂南山、梦幻竹海”的美誉，景区内峰峦起伏，风起时，碧浪掀天，风止时，娴静轻柔，幽深渺远。无论是乘坐小火车在竹海中穿梭沉醉， 还是在缆车上悠悠地欣赏竹海的波澜壮阔，亦或静闭双眸，聆听竹海的呼吸与轻语，都是绝佳的体验。您还可以在静湖撑一篙竹筏，悠赏水纹荡漾，水竹相依，或是观赏一场精彩绝伦的鸟艺表演，也可在寿星广场拜一拜老寿星。历史文化区更是拥有融合三省建筑风格与民俗风情的鸡鸣村，住着“奥运”“壮妹”两位国宝大熊猫的熊猫馆以及纵览风光无限的黄金桥，此外，更是有着挖掘竹文化精髓的竹文园。</string>
		<key>image</key>
		<string>recommond_tmh.jpg</string>
	</dict>
</array>
</plist>
