<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>花博会特许商品南大街旗舰店</string>
		<key>address</key>
		<string>常州市钟楼区南大街2号</string>
		<key>telephone</key>
		<string>0519-86686313</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花博会特许商品新苑宾馆专卖店</string>
		<key>address</key>
		<string>武进区环府路新苑宾馆一楼</string>
		<key>telephone</key>
		<string>400-0519-311</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花博会特许商品万达广场专卖店</string>
		<key>address</key>
		<string>新北区万达广场一楼</string>
		<key>telephone</key>
		<string>0519-83992868</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花博会特许商品晋陵中路专卖店</string>
		<key>address</key>
		<string>新北区晋陵中路590号</string>
		<key>telephone</key>
		<string>0519-85215067</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花博会特许商品府西花园专卖店</string>
		<key>address</key>
		<string>新北区府西家园商铺7-103</string>
		<key>telephone</key>
		<string>0519-81231367</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花博会特许商品湖塘新湖专卖店</string>
		<key>address</key>
		<string>武进区湖塘镇广电中路新湖小学旁</string>
		<key>telephone</key>
		<string>0519-86583111</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花博会特许商品文化宫专卖店</string>
		<key>address</key>
		<string>常州市天宁区罗汉路28号</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花博会特许商品火车站北广场专卖店</string>
		<key>address</key>
		<string>常州火车站南北广场地下主通道</string>
		<key>telephone</key>
		<string>0519-81661181</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福克斯流行广场专卖店</string>
		<key>address</key>
		<string>常州武进区常武中路定安路口福克斯流行广场一楼</string>
		<key>telephone</key>
		<string>400-0519-311</string>
	</dict>
	<dict>
		<key>name</key>
		<string>春秋淹城公园专卖店</string>
		<key>address</key>
		<string>常州市春秋淹城公园内</string>
		<key>telephone</key>
		<string>400-0519-311</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中华恐龙园专卖店</string>
		<key>address</key>
		<string>常州市新北区中华恐龙园内</string>
		<key>telephone</key>
		<string>400-0519-311</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武进九洲喜来登专柜</string>
		<key>address</key>
		<string>常州市武进区延政西大道1号喜来登大酒店一楼</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武进假日酒店专柜</string>
		<key>address</key>
		<string>常州市武进区延政中路33号假日酒店一楼</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武进假日酒店专柜</string>
		<key>address</key>
		<string>常州市通江南路8号凯纳豪生大酒店一楼</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金陵明都大饭店专柜</string>
		<key>address</key>
		<string>常州市和平北路258号金陵明都大饭店一楼</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>富都盛贸饭店专柜</string>
		<key>address</key>
		<string>常州市新北区通江大道398号富都盛贸饭店一楼</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金陵江南大饭店专柜</string>
		<key>address</key>
		<string>常州市通江中路500号金陵江南大饭店一楼</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>常州福记逸高酒店专柜</string>
		<key>address</key>
		<string>常州市新北区汉江东路99号</string>
		<key>telephone</key>
		<string>400-0519-311</string>
	</dict>
	<dict>
		<key>name</key>
		<string>常州西太湖明都国际会议中心</string>
		<key>address</key>
		<string>常州市武进经济开发区禾香路118号（近滆湖）</string>
		<key>telephone</key>
		<string>0519-88166207</string>
	</dict>
	<dict>
		<key>name</key>
		<string>常州湟里鼎明都大酒店专柜</string>
		<key>address</key>
		<string>常州市武进区湟里镇金鼎路8号</string>
		<key>telephone</key>
		<string>400-0519-311</string>
	</dict>
</array>
</plist>
